[submodule "deps/moonlight-common-c"]
	path = deps/moonlight-common-c
	url = https://github.com/moonlight-stream/moonlight-common-c.git
[submodule "deps/mdns"]
	path = deps/mdns
	url = https://github.com/mjansson/mdns.git
[submodule "deps/tinyxml2"]
	path = deps/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
